 .header{
    display: flex;
    height: 120px;
    background-color: blue;
}
.link{
    float: left;
}
.logo{
    width: 66.6666%;
    /* background-color: coral; */
    /* float: left; */
    /* padding-left: 15px; */
    padding-top: 15px;
    display: flex;
    align-items: center; /*căn chỉnh theo phương dọc*/
}
.search-form{
    display: flex;
    justify-content: flex-end;
      /* clear: right; */
    width: 33.3333%;
      /* float: right; */ 
      /* background-color: darkkhaki; */
    display: flex;
    flex-direction: column; /*phương ngang*/
    justify-content: center; /*căn chỉnh nội dung ở giữa theo phương ngang*/
    padding-right: 30px;
}
.navbar{
    flex-direction: column;
    height: 60px;
    background-color:darkblue;
    /* position: fixed;  */
    position: sticky; 
     top: 0px;
    left: 0px; 
}
.navbar ul {
    list-style-type: none;
    display: flex;
    /* align-items: center; */
    margin-top: 0px;
    margin-bottom: 0px;
    height: 100%;
}
.navbar ul li{
    width: 10%;
}
.navbar ul li a{
    color: white;
    text-decoration: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
justify-self: center;
}
.slide{
    height: 1000px;
}
.slide img{
    height: 450px;
    width: 1281 px;